<a href="https://colab.research.google.com/github/KennyOwen/Enron/blob/main/Development.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#run wget command for downloding enrn email data
!wget -O enron.db https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1

--2023-06-04 11:34:00--  https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1
Resolving curtin-my.sharepoint.com (curtin-my.sharepoint.com)... 13.107.136.8, 13.107.138.8, 2620:1ec:8f8::8, ...
Connecting to curtin-my.sharepoint.com (curtin-my.sharepoint.com)|13.107.136.8|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /personal/211934g_curtin_edu_au/Documents/Units/ISYS2001/ISYS2001-Assignment-2-Data/enron_sqlite3.db?ga=1 [following]
--2023-06-04 11:34:00--  https://curtin-my.sharepoint.com/personal/211934g_curtin_edu_au/Documents/Units/ISYS2001/ISYS2001-Assignment-2-Data/enron_sqlite3.db?ga=1
Reusing existing connection to curtin-my.sharepoint.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 853819392 (814M) [application/octet-stream]
Saving to: ‘enron.db’

enron.db            100%[===================>] 814.27M  53.3MB/s    in 20s

2023-06-04 11:34:20 (41.5 MB/s) - ‘enron.db’ saved [853819392/853819392]

In [ ]:
#import library sqlite3
import sqlite3

In [ ]:
#establish connection with database
conn = sqlite3.connect('enron.db')

In [ ]:
#create cursor object
cursor = conn.cursor()

In [ ]:
#check schema of database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cursor.fetchall()
cursor = conn.cursor()

for table in tables:
    print(table[0])

employeelist
message
recipientinfo
referenceinfo

In [ ]:
# verifying table
table_name = 'employeelist'
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name=?", (table_name,))
result = cursor.fetchone()

if result:
    print(f"The table '{table_name}' exists in the database.")
else:
    print(f"The table '{table_name}' does not exist in the database.")

The table 'employeelist' exists in the database.

In [ ]:
#check scheme of table - employeelist
table_name = 'employeelist'

# Retrieve column information for the table
cursor.execute(f"PRAGMA table_info({table_name})")
columns = cursor.fetchall()

# Print the column information
for column in columns:
    column_name = column[1]
    data_type = column[2]
    nullable = 'NULL' if column[3] else 'NOT NULL'
    primary_key = 'PRIMARY KEY' if column[5] else ''
    print(f"{column_name}: {data_type} {nullable} {primary_key}")

eid: INTEGER NULL PRIMARY KEY
firstName: VARCHAR(31) NULL
lastName: VARCHAR(31) NULL
Email_id: VARCHAR(31) NULL
Email2: VARCHAR(31) NOT NULL
Email3: VARCHAR(31) NOT NULL
EMail4: VARCHAR(31) NOT NULL
folder: VARCHAR(31) NULL
status: VARCHAR(50) NOT NULL

In [ ]:
#check schema of table - message
table_name = 'message'

# Retrieve column information for the table
cursor.execute(f"PRAGMA table_info({table_name})")
columns = cursor.fetchall()

# Print the column information
for column in columns:
    column_name = column[1]
    data_type = column[2]
    nullable = 'NULL' if column[3] else 'NOT NULL'
    primary_key = 'PRIMARY KEY' if column[5] else ''
    print(f"{column_name}: {data_type} {nullable} {primary_key}")

mid: INTEGER NULL PRIMARY KEY
sender: VARCHAR(127) NULL
date: DATETIME NOT NULL
message_id: VARCHAR(127) NOT NULL
subject: TEXT NOT NULL
body: TEXT NOT NULL
folder: VARCHAR(127) NULL

In [ ]:
#check scheme of table - referenceinfo
table_name = 'referenceinfo'

# Retrieve column information for the table
cursor.execute(f"PRAGMA table_info({table_name})")
columns = cursor.fetchall()

# Print the column information
for column in columns:
    column_name = column[1]
    data_type = column[2]
    nullable = 'NULL' if column[3] else 'NOT NULL'
    primary_key = 'PRIMARY KEY' if column[5] else ''
    print(f"{column_name}: {data_type} {nullable} {primary_key}")

rfid: INTEGER NULL PRIMARY KEY
mid: INTEGER NULL
reference: TEXT NOT NULL

In [ ]:
#check schema of table - recipientinfo
table_name = 'recipientinfo'

# Retrieve column information for the table
cursor.execute(f"PRAGMA table_info({table_name})")
columns = cursor.fetchall()

# Print the column information
for column in columns:
    column_name = column[1]
    data_type = column[2]
    nullable = 'NULL' if column[3] else 'NOT NULL'
    primary_key = 'PRIMARY KEY' if column[5] else ''
    print(f"{column_name}: {data_type} {nullable} {primary_key}")

rid: INTEGER NULL PRIMARY KEY
mid: INTEGER NULL
rtype: TEXT NOT NULL
rvalue: VARCHAR(127) NOT NULL
dater: DATETIME NOT NULL

In [ ]:
#import library - pandas
import pandas as pd

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
#check date format by writing an sql query to fetch one record from message table

In [ ]:
#check whether there are null values in the record

In [ ]:
#write sql query to count number of emails per day using strftime and COUNT() 
#convert data in dataframe
#display the dataframe
#import library matplotlib and seaborn
#plot graph
#perform analysis

In [ ]:
#write sql query to count number of emails per week using strftime and COUNT() 
#convert data in dataframe
#display the dataframe
#plot graph
#perform analysis

In [ ]:
#write sql query to count number of emails per month using strftime and COUNT() 
#convert data in dataframe
#display the dataframe
#plot graph using subplots() and lineplot()
#perform analysis

In [ ]:
#write sql query to count top sender using count()
#convert data in dataframe
#display the dataframe
#plot graph using barplot() and show()
#perform analysis

In [ ]:
#write sql query to count top recipient using count()
#convert data in dataframe
#display the dataframe
#plot graph using barplot() and show()
#perform analysis

In [ ]:
#write sql query to categorize by rtype using count
#convert data in dataframe
#display the dataframe
#plot graph using pie() and show()
#perform analysis